<p style="text-align: center;"><strong>Study Planner</strong></p>
<table style="border-collapse: collapse; width: 100%; height: 242px;" border="1">
<tbody>
<tr>
<td style="width: 14.2857%;">일</td>
<td style="width: 14.2857%;">월</td>
<td style="width: 14.2857%;">화</td>
<td style="width: 14.2857%;">수</td>
<td style="width: 14.2857%;">목</td>
<td style="width: 14.2857%;">금</td>
<td style="width: 14.2857%;">토</td>
</tr>
<tr>
<td style="width: 14.2857%;">&nbsp;</td>
<td style="width: 14.2857%;">&nbsp;</td>
<td style="width: 14.2857%;">&nbsp;</td>
<td style="width: 14.2857%;">&nbsp;</td>
<td style="width: 14.2857%;">&nbsp;</td>
<td style="width: 14.2857%;">&nbsp;</td>
<td style="width: 14.2857%;">&nbsp;</td>
</tr>
<tr>
<td style="width: 14.2857%;">&nbsp;</td>
<td style="width: 14.2857%;">&nbsp;</td>
<td style="width: 14.2857%;">&nbsp;</td>
<td style="width: 14.2857%;">&nbsp;</td>
<td style="width: 14.2857%;">&nbsp;</td>
<td style="width: 14.2857%;">&nbsp;</td>
<td style="width: 14.2857%;">&nbsp;</td>
</tr>
<tr>
<td style="width: 14.2857%;">&nbsp;</td>
<td style="width: 14.2857%;">&nbsp;</td>
<td style="width: 14.2857%;">&nbsp;</td>
<td style="width: 14.2857%;">&nbsp;</td>
<td style="width: 14.2857%;">&nbsp;</td>
<td style="width: 14.2857%;">&nbsp;</td>
<td style="width: 14.2857%;">&nbsp;</td>
</tr>
<tr>
<td style="width: 14.2857%;">&nbsp;</td>
<td style="width: 14.2857%;">&nbsp;</td>
<td style="width: 14.2857%;">&nbsp;</td>
<td style="width: 14.2857%;">&nbsp;</td>
<td style="width: 14.2857%;">&nbsp;</td>
<td style="width: 14.2857%;">&nbsp;</td>
<td style="width: 14.2857%;">&nbsp;</td>
</tr>
<tr>
<td style="width: 14.2857%;">&nbsp;</td>
<td style="width: 14.2857%;">&nbsp;</td>
<td style="width: 14.2857%;">&nbsp;</td>
<td style="width: 14.2857%;">&nbsp;</td>
<td style="width: 14.2857%;">&nbsp;</td>
<td style="width: 14.2857%;">&nbsp;</td>
<td style="width: 14.2857%;">&nbsp;</td>
</tr>
</tbody>
</table>
<body>
    {% block content %} 
    {% endblock %}

</body>